@import "tailwindcss";

/*LOADER ANIMATION*/

.loader {
    ---dotSize: 20px;
    ---animationTime: 0.8s;
    --color-pop: rgb(44, 154, 222);
    margin-left: 20px;
}

.loader span {
    display: inline-block;
    width: var(---dotSize);
    height: var(---dotSize);
    background: var(--color-pop);
    border-radius: var(---dotSize);
    animation: loader var(---animationTime) infinite alternate;
}

.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}

@keyframes loader {
    0% {
        opacity: 0.9;
        transform: scale(0.5);
    }

    100% {
        opacity: 0.1;
        transform: scale(1);
    }
}